.App {
  background-color: #AEDAF2;
  height: 100vh;
  width: 100vw;
}

.drawer-content{
  list-style-type: none;
  padding: '8px 16px'
}


.drawer-content Button{
  border-radius: 8px;
  background-color: #E1F0F8;
}

